<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo.jpeg" />

	<title>Tecnomundi</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	
	<!-- /Header -->
	<header class="main-header">
		<% if (locals.user != null) {%>
			<%- include('./partials/headerLogeado')%>
		<% }%>
		<% if (locals.user == null) {%>
			<%- include('./partials/header')%>
		<% }%>
	</header>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="cajahija">
				<h1 class="nombres"><%= data.nombre_del_producto %></h1>
				<a href="/product/product/<%= data.id %>">
					<figure class="product-box_image">
						<img class = 'imagenautos' src="<%= data.imagen %>" alt="cafetera moulinex">
					</figure>
					<br>
					<% if (locals.user && user.id == data.user_id) {%>
						<a href="/product/product-edit/<%= data.id %>">
							<i class="button"> Editar producto</i>
							</a>
						</a>
						<a href="/">
							<i class="button"> Eliminar producto</i>
						</a>
					<% } %>
					<% if (locals.user && user.id != data.user_id) {%>
						<button type="submit" name="like" class="button">&#128077 Me gusta</button>
					<% }%>
					<article >
						
						<p>Usuario: <a href="/users/profile/<%=data.userRel.id%>" class="url"> <%=data.userRel.email  %></p></a>
						<p><%= data.descrip_producto %></p>
					</article>
				</a>
			</section>
		</div>
		<div class="col-12 col-lg-4">
			<h2>COMENTARIOS:</h2>
			<section class="comments">
				<% for( let i = 0; i < data.comentarioProdu.length; i++ ) { %>
					<article>
						<img src="https://via.placeholder.com/35" alt="">
						<div class="data">
							<p class="user">
								<strong> <a href="/users/profile/<%= data.comentarioProdu[i].id %>"><%= data.comentarioProdu[i].nombre_usuario %>: </a> </strong>
								<%= data.comentarioProdu[i].texto_comentario %></p>
						</div>
					</article>
				<% } %>
				

			</section>
			<% if (locals.user && user.id != data.user_id) {%>
				<form class="form" action="/product/coment-add" method="post">
					<input type="text"  id="user_id" name="user_id" hidden value="<%= user.id %>">
					<input type="text" id="product_id" name="product_id" hidden value="<%= data.id%>">
					<input type="text" id="nombre" name="nombre" hidden value="<%= user.username%>">
					<input class="form-input" type="text" id="comentario" name="comentario" placeholder="Escribí tu comentario">
					<input type="submit" value="AGREGAR COMENTARIO" class="button">
				</form>
				<% if (locals.errors) { %>
					<p style="color:black"> <%= errors.message %></p>
				<% } %>
			<% } %> 

			<% if (locals.user == null) {%>
				<h3 class="aviso">Debe estar logueado para poder comentar.</h3>
			<% } %>
	
				
				
					
			
	<!-- /product detail -->

	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer')  %>
	</footer>
	<!-- /footer -->

</body>	
</html>