<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo.jpeg" />

	<title>Tecnomundi</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<% if (locals.user != null) {%>
			<%- include('./partials/headerLogeado')%>
		<% }%>
		<% if (locals.user == null) {%>
			<%- include('./partials/header')%>
		<% }%>
	</header>
	<!-- /Header -->
	
	<!-- Novedades -->
		<h2 class="products-title">Editar el producto <a href="/product/product/<%= data.id %>">"<%= data.nombre_del_producto %>"</a> </h2>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/product/update/<%= data.id %>" method="post">
					<input type="text" name="id" hidden value="<%= user.id %>">
					<label for="image">Imagen:</label>
					<input type="text" id="image" name="image" placeholder="<%= data.imagen %>" ><br><br>
				
					<label for="name">Nombre:</label>
					<input type="text" id="name" name="name" placeholder="<%= data.nombre_del_producto %>"><br><br>
					
					<label for="description">Descripción:</label>
					<textarea id="description" name="description" placeholder="<%= data.descrip_producto %>"></textarea><br><br>
				
					<input type="submit" value="Editar">
				  </form>
				  <% if (locals.errors) { %>
					<p style="color:red"> <%= errors.message %></p>
				<% } %>
			</h2>
	<% if (locals.errors) { %>
		<p style="color:red"> <%= errors.message %></p>
	<% } %>
	
	


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer')  %>
	</footer>
	<!-- /footer -->
</body>

</html>