<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	<header class="main-header">
		<% if (locals.user != null) {%>
			<%- include('./partials/headerLogeado')%>
		<% }%>
		<% if (locals.user == null) {%>
			<%- include('./partials/header')%>
		<% }%>
	</header>
	<!-- /Header -->

	<!-- Datos del usuario -->
	
	
	<!-- /Datos del usuario -->
	<% for( let i = 0; i < 1; i++ ) { %>
		<section class="info-usuario container products-wrapper">
			<div class="row">
				<div class="img-container offset-3 col-2">
					<img src="<%= data[i].userRel.foto_perfil %>" alt="foto de perfil" class="foto-perfil">
					<h1 class="main-title"> <%= data[i].userRel.username %>
				</div>
				<% if (locals.user && user.id == data[i].userRel.id) {%>
					<div class="data-container col-6">
						<div class="d-flex align-items-center ">
								<br>
								<br>
								<a href="/users/profile-edit/<%=data[i].userRel.id%>">
									<i class="fas fa-cog"> Editar mi perfil</i>
								</a>
							</h1>
				<% }%>
				<% if (locals.user && user.id != data[i].userRel.id) {%>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				<% }%>
					</div>
					
	<% } %>
	<div>
		<ul class="">
			<li><%= data.length %> productos</li>
			<li>200 seguidores</li>
			<li>300 comentarios</li>
		</ul>
	</div>
</div>
</div>
</section>
	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos del usuario</h2>
			</div>
			<!-- Show mis productos -->
			<% for( let i = 0; i < data.length; i++ ) { %>
				<div class="centrar">
					<section class="cajahija">
						<a href="/product/product/<%= data[i].id %>">
							<figure class="product-box_image">
								<img class = 'imagenautos' src="<%= data[i].imagen %>" alt="cafetera moulinex">
							</figure></a>
							<article class="box">
								<h2><%= data[i].nombre_del_producto %></h2>
								<p>Usuario: <a href="/users/profile/<%=data[i].userRel.id%>" class="url"> <%=data[i].userRel.email  %></p></a>
								<p><%= data[i].descrip_producto %></p>
							</article>
						
					</section>
				</div>
			<% } %>
			
		
			
		
			
			
			
			
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer')  %>
	</footer>
	<!-- /footer -->
</body>	
</html>